.img_confederation{
    width: 100%;
    height: 100%;
}
.container_federation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2vw;
    height: 20vw;
    width: 4vw;
}
.img_team{
    width: 5vw;
    height: 5vw;
}
.container_img_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1vw 0 1vw;
}
.container_principal_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10vw 0 10VW 0;
    width: 90vw;
    height: 15vw;
}